.footer {
	display: none;
    background: #444;
    padding: 15px;
    color: #c6c6c6;
    text-align: center;
    @include mn1600 {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav>li>a {
        padding-top: 0;
        padding-bottom: 0;
    }
    .nav>li>a:hover,
    .nav>li>a:focus {
        background-color: transparent;
        text-decoration: underline;
    }
    .nav_footer {
        text-transform: uppercase;
        font-size: 14px;
        text-align: center;
        .menu-item {
            display: inline-block;
        }
    }
    &__item {
        display: inline-block;
        vertical-align: middle;
    }
    &__left {
		@include mn1600 {
			flex-grow: 2;
		}
    }
    &__right {
        margin-top: 10px;
        text-align: center;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
		@include mn1600 {
			margin-top: 0;
		}
        &-text,
        &-icons {
            display: inline-block;
            vertical-align: middle;
            margin: 5px;
        }
        &-text {
            font-size: 12px;
            @include mn550 {
                margin-right: 25px;
            }
        }
        &-icons {}
    }
}

html.fixed-footer {
    @include mn992 {
        margin-top: 0 !important;
        height: 100%;
        body,
        .layout-main {
            height: 100%;
        }
        .admin-bar .layout-main {
            padding-top: 32px;
            height: 100%;
        }
        .content {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;
        }
        .footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}