.wpcf7-checkbox {
    display: inline-block;

    .wpcf7-list-item {
        display: block;

        input[type=checkbox],
        input[type=radio] {
            display: none;

            &:checked+.wpcf7-list-item-label:before {
                opacity: 1;
            }
        }
    }

    .wpcf7-list-item-label {
        display: inline-block;
        font-family: "Arial", sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 8px 10px 8px 35px;
        line-height: 1;
        position: relative;
        text-align: left;

        &:before {
            opacity: 0;
            content: '';
            background: url(../img/icon-check.png) center no-repeat;
            width: 16px;
            height: 12px;
            color: inherit;
            line-height: 29px;
            text-decoration: inherit;
            text-align: center;
            position: absolute;
            left: 7px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            transition: opacity .5s 0s;
        }
        &:after {
            content: '';
            width: 28px;
            height: 28px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: $lightgrey;
            border: 1px solid $grey;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.wpcf7 {
    form {
        position: relative;
    }
    span.wpcf7-list-item {
        margin: 0;
    }
    .ajax-loader {
        position: absolute;
    }

    .wpcf7-form-control-wrap {
        width: 100%;
    }

    .wpcf7-not-valid,
    .wpcf7-checkbox.wpcf7-not-valid .wpcf7-list-item-label:after {
        border-color: red !important;
    }

    .wpcf7-not-valid-tip {
        display: none !important;
    }

    .wpcf7-response-output {
        margin: 20px 0;
        text-align: center;
    }
    .wpcf7-validation-errors {
        border: 0;
        color: red;
    }
    .wpcf7-mail-sent-ok {
        display: none !important;
    }
    label {
        margin: 0;
        font-weight: inherit;
    }
}

.wpcf7-textarea {
    resize: none;
}

div.wpcf7 .ajax-loader {
    position: absolute;
    right: 0;
    bottom: -20px;
}

.form-content {
    margin: 30px 0;
    padding: 30px 0;
    border: 2px solid $grey;
    border-left: 0;
    border-right: 0;
    color: #666;
    text-align: center;
    clear: both;
    position: relative;
    &__title {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        @include mn1200 {
            text-align: left;
        }
    }
    &__body {
        font-size: 14px;
        padding: 20px 0 10px;
    }
    &_without-lead .form__col_lead {
        display: none !important;
    }
    .form {
        &__inner {
            font-size: 0;
        }
        &__col {
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            width: 350px;
            max-width: 100%;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            @include mn1200 {
                width: 33.33%;
                padding-right: 20px;
                margin-bottom: 0;
                &:last-of-type {
                    padding-right: 0;
                }
            }
        }
        &__label {
            line-height: 1;
            font-size: 14px;
        }
    }
    .wpcf7-submit {
        @include mn1200 {
            width: 100%;
        }
    }
    form a {
        color: inherit;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    .btn {
        width: 100%;
    }
}

.form_addservice-archive {
    max-width: 0;
    opacity: 0;
    position: relative;
    transition: max-width .5s 0s, max-height .5s 0s, opacity .5s .3s;
    @include mn1200 {
        max-height: 0;
        overflow: hidden;
    }
    @include mn1400 {
        margin-right: 20px;
    }
    &.sh-visible {
        max-width: 880px;
        opacity: 1;
        @include mn1200 {
            max-height: 45px;
            overflow: visible;
        }
    }
    .form-content {
        border: 0;
        margin: 0;
        padding: 0;
        text-align: left;
        .form__col {
            @include mn550 {
                margin-right: 10px;
            }
            @include mn1200 {
                margin-right: 0;
            }
        }
    }
    .form-content__title {
        display: none;
    }
    .form-content__body {
        padding: 0;
    }
    .form__inner {
        @include mn1400 {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
        }
    }
    .form__col {
        @include mn1400 {
            // width: auto;
        }
    }
    .wpcf7-response-output {
        margin: 0 0 10px;
        position: absolute;
        z-index: 1;
        background: white;
        top: 100%;
        @include mn1400 {
            top: 105%;
        }
    }
    .wpcf7-checkbox .wpcf7-list-item-label {
        font-size: 12px;
    }
}

.form-content_service {
    .form__row {
        @include mn1200 {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-wrap: wrap;
        }
    }
    .form-content__body {
        padding: 10px 0 0;
    }
    .form__col {
        text-align: left;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        margin: 0 auto 15px;
        width: 400px;
        @include mn1200 {
            width: 33.33%;
            margin: 15px 0;
        }
        &_submit {
            justify-content: center;
        }
        &:nth-child(2) {
            @include mn1200 {
                order: 1;
            }
        }
        &:nth-child(3) {
            @include mn1200 {
                order: 2;
            }
        }
        &:nth-child(4) {
            @include mn1200 {
                order: 3;
            }
        }
    }
    .wpcf7-checkbox .wpcf7-list-item-label {
        padding-left: 25px;
        text-indent: -999em;
        width: 0;
    }
    .wpcf7-mail-sent-ok {
        display: none !important;
    }
    .wpcf7 .wpcf7-response-output {
        margin: 0;
    }
}

.form-content_review .wpcf7-textarea {
    margin-bottom: 30px;
    height: 150px;
}

.form-content_contact {
    border: 0;
    padding: 0;
    margin: 20px 0;
    @include mn1200 {
        max-width: 750px;
    }
    .form__row {
        font-size: 0;
    }
    .wpcf7-form-control-wrap {
        display: block;
        margin-bottom: 10px;
        @include mn550 {
            margin-bottom: 20px;
        }
        &.nm,
        &.tel {
            @include mn550 {
                width: 50%;
                display: inline-block;
                vertical-align: top;
            }
        }
        &.nm {
            @include mn550 {
                padding-right: 10px;
            }
        }
        &.tel {
            @include mn550 {
                padding-left: 10px;
            }
        }
        &.submit,
        &.policy {
            @include mn768 {
                display: inline-block;
                width: 50%;
                margin-bottom: 0;
                vertical-align: middle;
            }
        }
        &.policy {
            @include mn768 {
                text-align: left;
                padding-right: 10px;
            }
        }
        &.submit {
            @include mn768 {
                text-align: right;
            }
        }
    }
    .wpcf7-submit {
        @include mn768 {
            width: 350px;
            max-width: 100%;
        }
    }
    .wpcf7 .wpcf7-response-output {
        @include mn1400 {
            display: block;
            position: absolute;
            bottom: 44px;
            width: 100%;
        }
    }
}

.form-wrap {
    position: relative;
}

.form-sent-ok {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $lightgrey;
    box-shadow: 0 0 2px grey;
    text-transform: uppercase;
    z-index: 1;
    display: none;
    &__inner {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    &__title {
        color: $red;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 10px;
    }
    &__subtitle {
        font-size: 18px;
        color: $darkgrey;
    }
}

.b-team__form {
    position: absolute;
    left: 0;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s 0s;
    &.active {
        max-height: 500px;
    }
    &-inner {
        padding: 20px;
        background: $grey;
        font-size: 14px;
        margin: 0 10px 30px;
        @include mn768 {
            padding: 30px;
        }
    }
    &-title {
        color: $darkgrey;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 20px;
        @include mn768 {
            margin-bottom: 30px;
            text-align: left;
        }
    }
    .wpcf7-textarea {
        height: 100px;
    }
    .form__row,
    .form__col {
        margin-bottom: 20px;
    }
    .wpcf7-response-output {
        margin: 10px 0 0;
    }
    .form__row {
        .form__col {
            @include mn768 {
                width: calc(33.33% - 20px);
                margin-bottom: 0;
            }
        }
    }
    .form__row_name-tel {
        @include mn550 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    .form__row_btn {
        @include mn768 {
            text-align: right;
            margin-bottom: 0;
        }
        .form__col {
            @include mn768 {
                margin-left: auto;
                margin-bottom: 0;
            }
            @include mn1200 {
                padding-left: 30px;
            }
            @include mn1400 {
                padding-left: 0;
            }
        }
        .wpcf7-submit {
            @include mn768 {
                width: 100%;
            }
        }
    }
    .form__col_name,
    .form__col_tel {
        @include mn550 {
            width: calc(50% - 10px);
        }
    }
    .form__col_policy {
        @include mn550 {
            width: 100%;
        }
        @include mn1200 {
            padding-left: 30px;
        }
        @include mn1400 {
            padding-left: 0;
        }
        .wpcf7-checkbox .wpcf7-list-item-label {
            font-size: 13px;
        }
    }
}

.js-team-item-boss {
    transition: margin .5s 0s;
}

.fancybox-wrap {
    .form-get-offer {
        position: static;
        border: 0;
    }
    .form-get-offer__inner {
        top: 0;
        transform: none;
        padding: 0;
    }
    .wpcf7 .wpcf7-validation-errors {
        position: absolute;
        bottom: 0;
        top: auto;
        z-index: 1;
        background: white;
        border: 1px solid;
        margin: 0;
        padding: 10px;
    }
}