.header-mobile {
    text-align: center;
    padding: 20px 0;
    @include mn992 {
        display: none;
    }
    &_inner {}
    &__item {
        margin: 3px 0;
    }
    .navbar {
        position: static;
        min-height: 0;
        margin: 0;
        border: 0;
    }
    .navbar-collapse {
        position: absolute;
        top: 50px;
        right: 5px;
        left: 5px;
        background: white;
        box-shadow: 0px 0px 1px grey;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
        max-width: 500px;
        margin-left: auto;
        @include mn550 {
            width: 500px;
        }
    }
    .navbar-nav {
        @include mn768 {
            float: none;
            margin: 7.5px -10px;
        }
        &>li {
            @include mn768 {
                float: none;
            }
        }
    }
    .navbar-nav>li>a {
        line-height: 1;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .dropdown-menu>li>a {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .dropdown-menu li {
        text-transform: none;
        font-size: 15px;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        left: 1px;
    }
    #menu-item-100,
    #menu-item-103,
    #menu-item-106 {
        color: #999;
    }
}

@media (max-width: 991px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.b-tel {
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.b-email {
    display: block;
    color: #999;
    font-size: 14px;
    text-decoration: underline;
}

.b-get-offer {
    display: block;
    color: $red;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    &:hover {
        text-decoration: none;
    }
}

.menu-mob {
    position: fixed;
    top: -5px;
    right: 0;
    left: 0;
    z-index: 99;
    @include mn992 {
        display: none;
    }
}

.menu-btn {
    width: 40px;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 99;
    border: 0;
    border-radius: 0;
    @include mn768 {
        display: block;
    }
    &[aria-expanded="true"] {
        span {
            position: relative;
            &:first-child {
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                top: 11px;
                position: relative;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:last-child {
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                top: -11px;
                position: relative;
            }
        }
    }
    span {
        display: block;
        height: 5px;
        background-color: #000;
        transition: all .5s 0s;
    }
    span+span {
        margin-top: 6px;
    }
}

.admin-bar .menu-btn {
    top: 55px;
}

.admin-bar .menu-mob {
    margin-top: 40px;
}