.content__inner_reviews {
    .content__title {
        text-align: center;
    }
    .article {
        color: #999;
    }
}

.b-reviews {
    margin: 20px 0;
    text-align: center;
    font-size: 0;
    @include mn1400 {
    	display: flex;
    	flex-wrap: wrap;
	    justify-content: space-around;
    }
    &__item {
        display: inline-block;
        padding: 20px;
    }
    &__img {
        background: url('') top no-repeat;
        background-size: contain;
        width: 270px;
        height: 370px;
        border: 1px solid $grey;
    }
}