body {
    background: white; // opacity: 0;
    transition: opacity 1s 0s;
    position: relative;
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
}

h1 {}

[data-aload] {
    background-image: none !important;
}

.loaded a,
.loaded .btn {
    transition: all .5s 0s;
}

a:hover {
    text-decoration: underline;
}

.admin-bar #wpadminbar {
    top: -46px;
    @media (min-width: 601px) {
        top: 0;
    }
    @media (max-width: 991px) {
        overflow: hidden;
    }
}

.post-edit-link {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    padding: 0px 5px;
    background: white;
    box-shadow: 1px 1px 8px grey;
    opacity: .8;
}

.post-edit-link:hover {
    opacity: 1;
}

.breadcrumbs {
    color: #333;
    font-size: 12px;
    margin-bottom: 20px;
    @include mn992 {}
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

img {
    &.alignleft {
        float: left;
        margin-right: 1em;
        margin-bottom: .5em;
    }
    &.aligncenter {
        margin: 1em auto;
    }
    &.alignright {
        float: right;
        margin-left: 1em;
        margin-bottom: .5em;
    }
}

.content {

    @include mn992 {
        margin-left: 300px;
    }
    &__inner {
        max-width: 1100px;
        margin: 0 auto;
        padding-bottom: 30px;
        @include mn992 {
            padding-top: 60px;
        }
    }
    &__title {
        margin: 20px 0;
        padding: 20px 10px;
        text-align: center;
        @include mn768 {
            padding: 30px 40px;
        }
        @include mn992 {
            text-align: left;
            margin: 40px 0;
        }
        h1 {
            color: #666;
            font-size: 26px;
            font-weight: 700;
            line-height: 1.2;
            text-transform: uppercase;
        }
    }
}

.b-content {
    &__img-wrap {
        text-align: center;
        margin-bottom: 20px;
        @include mn768 {
            float: left;
            margin-right: 20px;
            max-width: 60%;
        }
    }
}

.article {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    p {
        margin-bottom: 1em;
    }
    a {
        color: $red;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    h5 {
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
        margin: 1em 0;
    }
    ul {
        margin: 1em 0;
        padding-left: 1.5em;
    }
    li {
        padding-left: 1em;
        position: relative;
        &:before {
            content: '\002e';
            color: #f8615a;
            position: absolute;
            left: 2px;
            top: -5px;
            font-size: 30px;
            line-height: .5;
        }
    }
    blockquote {
        margin: 20px 0;
        padding: 5px 0 5px 20px;
        border-left: 5px solid $red;
        color: #666;
        font-weight: 600;
        font-style: italic;
        p {
            margin: 0;
        }
    }
}

.btn {
    display: inline-block;
    color: $red;
    background: transparent;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 3px solid $red;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        background-color: $red;
        color: white;
    }
}

.pagi {
    text-align: center;
    margin: 40px 0;
    a:hover {
        text-decoration: none;
    }
    .page-numbers {
        color: #666;
        font-size: 18px;
        line-height: 47px;
        text-transform: uppercase;
        border: 1px solid #999;
        display: inline-block;
        width: 48px;
        height: 48px;
        vertical-align: middle;
        text-align: center;
        border-radius: 50%;
        margin: 0 5px;
    }
    .current {
        background-color: $grey;
    }
    .prev,
    .next {
        background: url(../img/icon-arrow-left.png) center no-repeat;
    }
    .next {
        background-image: url(../img/icon-arrow-right.png);
    }
}

html.fixed-footer {
    @include mn992 {
        margin-top: 0 !important;
        height: 100%;
        body {
            height: 100%;
        }
        body.admin-bar {
            margin-top: 32px;
            height: calc(100% - 32px);
        }
        .content {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;
        }
        .footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}