.sidebar {
    display: none;
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    z-index: 2;
    height: 100vh;
    @include mn992 {
        display: block;
    } // &:hover,
    // &.opened {
    //     overflow-y: visible;
    // }
    &__inner {
        background: white;
        padding: 3vh 30px;
        position: relative;
        z-index: 5;
    }
    &__top {
        text-align: center;
        margin-bottom: 4vh;
    }
    &__logo {
        margin-bottom: 20px;
    }
    &__tel {
        margin-bottom: 5px;
    }
    &__email {}
    &__get-offer {
        margin-bottom: 4vh;
        padding: 10px;
        width: 100%;
    }
    &__adr {
        font-size: 12px;
    }
    &__bottom-links {
        margin: 2vh 0;
    }
    &__entry,
    &__warranty {
        display: inline-block;
        padding: 0 20px;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    &__warranty {
        color: $red;
    }
    &__social {
        margin: 20px 0 0;
    }
    &__bottom {
        text-align: center;
        margin-top: 7vh;
    }
}

.navbar_sidebar {
    position: static;
    margin-bottom: 1vh;
    .sub-menu {
        position: absolute;
        transition: all .5s .2s;
        left: 300px;
        background: white;
        top: auto;
        margin-top: -40px;
        padding: 20px 0;
        max-width: 0;
        box-shadow: 1px 1px 0 lightgrey;
        &:hover {
            padding: 20px 30px;
            max-width: 400px;
        }
        >.menu-item>span,
        >.menu-item>a {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 7px 0px;
        }
    }
    .navbar-nav {
        width: 100%;
        .menu-item {
            float: none;
            display: block;
        }
        >li {
            position: static;
        }
        >li>a:hover,
        >li>a:focus {
            background-color: transparent;
        }
        a {
            color: #333;
        }
        a:hover,
        a:focus {
            color: $red;
        }
        >.menu-item>span,
        >.menu-item>a {
            display: block;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            padding: .8vh 0;
            line-height: 1.4;
        }
        >.menu-item>span {
            color: #999;
        }
        .menu-item-has-children span:hover+.sub-menu,
        .menu-item-has-children a:hover+.sub-menu {
            padding: 20px 30px;
            max-width: 400px;
        }
    }
}

.h800less {
    .sidebar__top {
        margin-bottom: 2vh;
    }
    .navbar_sidebar .navbar-nav>.menu-item>span,
    .navbar_sidebar .navbar-nav>.menu-item>a {
        padding: .3vh 0;
        font-size: 12px;
    }
}

.navbar_privary {
    margin-bottom: 50px;
}

.navbar_secondary {
    .navbar-nav a {
        color: #999;
    }
}

.social {
    margin-top: 3vh;
    &__item {
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
    }
    &__item_2 {
        .social__icon {
            width: 18px;
            &:hover {
                background-position: -17px 50%;
            }
        }
    }
    &__item_1 .social__icon:hover {
        background-position: -29px 50%;
    }
    &__item_3 .social__icon:hover {
        background-position: -28px 50%;
    }
    &__icon {
        width: 30px;
        height: 24px;
        display: block;
        background: url('') left no-repeat;
        transition: none !important;
        &:hover {
            background-position: right;
        }
    }
}

.search-form {
    border: 1px solid #ddd;
    position: relative;
    margin-bottom: 2vh;
    &__input {
        border: 0;
        padding: 10px 40px 10px 15px;
        width: 100%;
        box-sizing: border-box;
        color: #999;
    }
    &__submit {
        border: 0;
        text-indent: -999em;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 40px;
        padding: 0;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAsVBMVEWZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZn///9mncB4AAAAOnRSTlMAUL/z9MJVj/uaUlGW+pdXRkH5Ycabk9H3Au5mXParwAG5tCz1BgSINOOioeLy/WUTcKOmcw9uY2/XbnRsxwAAAAFiS0dEOk4JxPoAAAAJcEhZcwAACxIAAAsSAdLdfvwAAABuSURBVAjXY2BgYGRiZmFlYwADdg5OLm4eXj4Qm59DAEQJCgkDSRFRiAIxcSAhwQ/hcHNIMjBISUM4MrJAQk5eAcxRVAISyipiqgwMauq8GiAhASlNLW0dXT19sAIDQyNjE1MzPXMGBLBA4ZlZAgC71ge2RwkP0gAAAABJRU5ErkJggg==') center no-repeat;
    }
}