.b-team-about {
    color: white;
    font-size: 16px;
    position: relative;
    &__bg {
        background: $darkgrey url('../img/bg-team.jpg') center no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        @include mn1600 {
            background-size: cover;
        }
    }
    &__inner {
        @include content-width;
        margin: 30px auto;
    }
    h5 {
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 30px 0;
    }
    &__item {
        padding: 0 1%;
    }
    &__digits {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin: 30px 0;
    }
    &__num {
        font-family: Georgia, Times, Times New Roman, serif;
        font-size: 36px;
        @include mn768 {
            font-size: 100px;
        }
    }
    &__desc {
        font-size: 8px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        @include mn550 {
            font-size: 14px;
        }
        @include mn768 {
            font-size: 20px;
        }
    }
}