.slick-prev,
.slick-next {
    cursor: pointer;
    width: 15px;
    height: 24px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: -30px;
}

.slick-prev {
    @include svg-icon-arrow-left;
	&:hover {
		@include svg-icon-arrow-left-red;
	}
}
.slick-next {
    @include svg-icon-arrow-right;
    left: auto;
    right: -30px;
	&:hover {
		@include svg-icon-arrow-right-red;
	}
}

.clients-slider {
    padding: 50px 0 70px;
    position: relative;
    &__bg {
        background: url('../img/bg-clients.jpg') 0 0 repeat;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    &__inner {
        @include content-width;
    }
    &__title {
        color: #666;
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
    }
    &__desc {
        color: #999;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 30px;
    }
    &__logo {}
}

.b-slider-logo {
    margin: 0 40px;
    &__item {}
    &__element {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-flow: column wrap;
    }
    &__img-wrap {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        height: 60px;
        padding: 5%;
        @include mn768 {
            height: 100px;
        }
        @include mn1200 {
            height: 130px;
        }
    }
    &__img {
        margin: auto;
    }
}