.content__inner {
    &_with-meta {
        .content__title {
            padding: 20px 10px;
            background-color: #f7f7f7;
            @include mn768 {
                padding: 30px 40px;
            }
        }
    }
}

.b-meta {
    color: $red;
    margin-top: 10px;
    &__item {
        display: inline-block;
        vertical-align: middle;
        background: url('') left no-repeat;
        border-left: 1px solid;
        padding-right: 5px;
        &:first-child {
            border-left: 0;
            .b-meta__icon {
                margin-left: 0;
            }
        }
    }
    &__link,
    &__icon {
        display: inline-block;
        vertical-align: middle;
    }
    &__icon {
        margin-left: 10px;
        margin-right: 5px;
        &_flag {
            @include svg-icon-flag;
        }
    }
    &__share.opened .addtoany_list,
    &__link_share.opened+.addtoany_list {
        opacity: 1;
        visibility: visible;
    }
    &__share .addtoany_list:hover,
    &__link_share:hover+.addtoany_list {
        @include mn992 {
            opacity: 1;
            visibility: visible;
        }
    }
    &__share {
        position: relative;
        .addtoany_list {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            transition: all 1s 0s;
            left: 0;
            top: 120%;
            width: 182px;
            padding: 10px;
            border: 1px solid;
            border-radius: 5px;
            background: white;
        }
    }
}

.b-result {
    margin: 30px 0;
    padding: 30px 0;
    border: 1px solid #e5e5e5;
    border-left: 0;
    border-right: 0;
    clear: both;
    color: #666;
    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        margin-right: 60px;
    }
    p {
        margin: 0;
        line-height: 1.4;
    }
    &__body {
        padding-top: 20px;
    }
    &__top {
        border-bottom: 1px solid transparent;
        @include mn550 {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__desc {
        margin: 10px 0;
        @include mn550 {
            width: 100%;
        }
        @include mn1200 {
            width: 33.33%;
            padding-right: 20px;
        }
    }
    &__name {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    &__txt {
        font-size: 14px;
    }
    &__middle {
        position: relative;
        padding-left: 40px;
        margin: 10px 0;
        @include mn550 {
            flex: 1 2 200px;
            padding-right: 20px;
        }
        &:before {
            content: '';
            position: absolute;
            background: url('../img/icon-grow.png') center no-repeat;
            width: 30px;
            height: 26px;
            left: 0;
            top: 7px;
        }
    }
    &__graf {
        margin: 10px auto;
        position: relative;
        max-width: 450px;
        padding-left: 40px;
        padding-right: 40px;
        @include mn450 {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
        }
        @include mn550 {
            flex: 1 1 300px;
        }
        .case-chart {
            margin-top: 10px;
            margin-bottom: 0;
        }
        .case-result__graf {
            width: 190px;
        }
        .case-result__txt {
            padding: 0 15px 15px 30px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-around;
        }
        .case-result__caption {
            display: inline-block;
            line-height: 1.2;
            font-size: 14px;
        }
        .case-chart__before-request,
        .case-chart__after-request {
            width: 50px;
            @include mn1200 {
                width: 60px;
            }
        }
        .case-chart__before-request {
            margin-right: 20px;
        }
    }
    &__graf-txt {
        width: 130px;
        padding: 0 10px;
        line-height: 1.2;
        font-size: 14px;
        @include mn450 {
            margin-bottom: 30px;
        }
    }
    .b-result__bottom {
        @include mn550 {
            display: block;
            position: relative;
            min-height: 150px;
        }
        @include mn768 {
            min-height: 250px;
        }
    }
    &__pic {
        max-width: 200px;
        height: 150px;
        margin: 10px auto;
        position: relative;
        text-align: center;
        @include mn550 {
            width: 33.33%;
            max-width: none;
            margin: 0;
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
        }
    }
    &__res-img {
        border: 1px solid #e5e5e5;
        padding: 20px;
        @include mn550 {
            width: auto;
            border: 1px solid #e5e5e5;
            padding: 20px;
            margin-left: 36%;
        }
    }
    &__link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .slick-prev,
    .slick-next {
        top: -10px;
        right: 0;
    }
    .slick-prev {
        right: 30px;
        left: auto;
    }
}