.portfolio {
    font-size: 0;
    text-align: center;
    @include mn550 {
        text-align: left;
    }
    &__item {
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
        transition: all .2s ease-out;
        max-width: 350px;
        width: 100%;
        height: 250px;
        position: relative;
        @include mn550 {
            max-width: none;
            width: 50%;
            height: 0;
            padding-bottom: 40%;
        }
        @include mn768 {
            width: 33.33%;
            padding-bottom: 30%;
        }
        @include mn1200 {
            width: 25%;
            padding-bottom: 23%;
        }
        @include mn1920 {
            width: 405px;
            padding-bottom: 0;
            height: 355px;
        }
    }
    &__link {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 20px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        &:hover {
            .portfolio__caption {
                top: 0;
            }
            &::before {
                opacity: .3;
                visibility: visible;
            }
        }
        &::before {
            content: '';
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: black;
            transition: all .3s 0s;
        }
    }
    &__caption {
        position: absolute;
        left: 0;
        right: 0;
        padding: 10px;
        max-height: 50px;
        top: -50px;
        text-align: center;
        color: white;
        font-size: 15px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        transition: top .3s 0s;
        overflow: hidden;
    }
    &__img {
        display: block;
    }
}

.case {
    margin: 20px 0 40px;
    &__item {
        padding: 40px 0;
        border-bottom: 1px solid $grey;
        position: relative;
        @include mn768 {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
        }
        &_first {
            padding-top: 0;
        }
        &:last-child{
            border-bottom: 0;
        }
    }
    &__counter {
        text-align: right;
        position: absolute;
        right: 0;
        top: 10px;
        color: #f9817b;
        opacity: .3;
        font-size: 80px;
        font-weight: 900;
        font-family: "Roboto";
        width: 88px;
        line-height: 48px;
    }

    &__txt {
        @include mn768 {
            flex-basis: 40%;
            order: 1;
            padding-left: 20px;
        }
    }
    &__img {
        text-align: center;
        border: 1px solid #f7f7f7;
        @include mn768 {
            flex-basis: 60%;
            padding-top: 7px;
        }
    }
    &__title_first {
        padding: 0;
        margin: 0 0 20px;
        @include mn768 {
            text-align: left;
        }
    }
    &__title {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        @include mn768 {
            text-align: left;
        }
    }
    &__desc {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
        @include mn768 {
            margin-bottom: 0;
        }
        &_first {
            margin-top: 20px;
        }
    }
    &__task {
        margin: 20px 0;
    }
}

.case-task {
    &__title {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #666;
        margin-bottom: 20px;
    }
    &__body {
        color: #333;
        font-family: Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-style: italic;
        line-height: 1.5;
         ::before {
            content: '\201C';
            font-size: 100px;
            color: $red;
            float: left;
            line-height: 30px;
            font-style: normal;
            font-weight: 700;
            transform: translateY(30px);
            margin-right: 20px;
        }
        p {}
    }
}

.case-meta {
    &__item {
        margin-bottom: 12px;
    }
    &__title {
        color: $red;
        font-size: 11px;
        margin-bottom: 5px;
    }
    &__caption {
        display: inline-block;
        vertical-align: middle;
        margin-left: .5em;
    }
    &__icon {
        &_flag {
            @include svg-icon-flag;
        }
        &_watch {
            @include svg-icon-watch;
        }
        &_share {
            @include svg-icon-share;
        }
    }
    &__body {
        color: #999;
        font-size: 13px;
    }
}

.case-result {
    &__digit {
        text-align: left;
        color: #333;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-around;
        max-width: 500px;
    margin: 20px auto;
    }
    &__caption {
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
    }
    &__counter {
        font-size: 20px;
        font-family: Roboto;
        font-weight: 700;
        display: inline-block;
        vertical-align: middle;
        @include mn768 {
            font-size: 36px;
        }
        @include mn1200 {
            font-size: 48px;
        }
    }
    &__red {
        color: #f4807a;
    }
    &__lightred {
        color: #f7a39f;
    }
    &__grey {
        color: #959595;
    }
    &__lightgrey {
        color: #c2c2c2;
    }
    &__chart {}
}

.case-chart {
    background: url(../img/bg-case-chart.png) 0 100% no-repeat;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: 20px auto;
    padding-bottom: 6px;
    &__before,
    &__after {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: flex-end;
    }
    &__before-request,
    &__before-visitor,
    &__after-request,
    &__after-visitor {
        width: 85px;
    }
    &__before-request {
        background-color: #c2c2c2;
    }
    &__before-visitor {
        background-color: #959595;
    }
    &__after-request {
        background-color: #f4807a;
    }
    &__after-visitor {
        background-color: #f7a39f;
    }
}

.case__form {
    .form-content__title {
        @include mn1200 {
            text-align: left;
        }
    }
}