.content__inner_archive {
    .content {
        &__title {
            text-align: center;
        }
        &__list {
            border-bottom: 1px solid $grey;
            margin-bottom: 30px;
        }
    }
}

.b-arch-content {
    margin-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid $grey;
    &__inner {
        position: relative;
    }
    &__imgbg {
        background: url('') center no-repeat;
        background-size: cover;
        height: 0;
        padding-bottom: 60%;
        margin-bottom: 20px;
    }
    &__img-wrap {
        text-align: center;
        margin-bottom: 30px;
        @include mn768 {
            margin-bottom: 0;
            width: 50%;
            padding-right: 20px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
        }
        img {
            max-width: 300px;
            @include mn768 {
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }
    &__desc {
        @include mn768 {
            margin-left: 50%;
        }
    }
    &__txt {
        color: #999;
        font-size: 16px;
        line-height: 1.5;
    }
    &__caption {
        color: #666;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.4;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__meta {
        margin-bottom: 10px;
    }
    &__btn-wrap {
        margin: 20px 0;
    }
    &__btn {
        margin: 5px 0;
    }
    &__btn_order {
        @include mn768 {
            margin-right: 20px;
        }
    }
}

.post-type-archive-uslugi {
    .b-arch-content__img-wrap {
        @include mn768 {
            width: 30%;
        }
    }
    .b-arch-content__desc {
        @include mn768 {
            margin-left: 30%;
        }
    }
    .b-arch-content__btn-wrap {
        @include mn1400 {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
        }
    }
}

.form_addservice-archive {
	max-width: 0;
	overflow: hidden;
	transition: max-width .5s 0s;
	height: 45px;
    @include mn1400 {
        margin-right: 20px;
    }
    &.sh-visible {
    	max-width: 800px;
    }
    .form-content {
        border: 0;
        margin: 0;
        padding: 0;
        text-align: left;
    }
    .form-content__title {
        display: none;
    }
    .form-content__body {
        padding: 0;
    }
    .form__inner {
        @include mn1400 {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
        }
    }
    .form__row {
        @include mn1400 {
            width: auto;
        }
    }
}