.portfolio {
    font-size: 0;
    text-align: center;
    @include mn550 {
        text-align: left;
    }
    &__item {
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
        transition: all .2s ease-out;
        max-width: 350px;
        width: 100%;
        height: 250px;
        position: relative;
        @include mn550 {
            max-width: none;
            width: 50%;
            height: 0;
            padding-bottom: 40%;
        }
        @include mn768 {
            width: 33.33%;
            padding-bottom: 30%;
        }
        @include mn1200 {
            width: 25%;
            padding-bottom: 23%;
        }
        @include mn1920 {
            width: 405px;
            padding-bottom: 0;
            height: 355px;
        }
    }
    &__link {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 20px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        &:hover {
            .portfolio__caption {
                top: 0;
            }
            &::before {
                opacity: .3;
                visibility: visible;
            }
        }
        &::before {
            content: '';
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: black;
            transition: all .3s 0s;
        }
    }
    &__caption {
        position: absolute;
        left: 0;
        right: 0;
        padding: 10px;
        max-height: 50px;
        top: -50px;
        text-align: center;
        color: white;
        font-size: 15px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        transition: top .3s 0s;
        overflow: hidden;
    }
    &__img {
        display: block;
    }
}

.case {
    margin: 20px 0 40px;
    &__item {
        padding: 20px 0;
        @include mn768 {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
        }
        &_first {
            padding-top: 0;
        }
    }
    &__txt {
        @include mn768 {
            flex-basis: 40%;
            order: 1;
            padding-left: 20px;
        }
    }
    &__img {
        text-align: center;
        @include mn768 {
            flex-basis: 60%;
            padding-top: 7px;
        }
    }
    &__title {
        padding: 0;
        margin-top: 0;
        @include mn768 {
            text-align: left;
        }
    }
    &__desc {
        font-size: 16px;
        margin: 20px 0;
        line-height: 1.5;
    }
    &__task {
        margin: 20px 0;
    }
}

.case-task {
    &__title {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #666;
        margin-bottom: 20px;
    }
    &__body {
        color: #333;
        font-family: Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-style: italic;
        line-height: 1.5;
         ::before {
            content: '\201C';
            font-size: 100px;
            color: $red;
            float: left;
            line-height: 30px;
            font-style: normal;
            font-weight: 700;
            transform: translateY(30px);
            margin-right: 20px;
        }
        p {}
    }
}

.case-meta {
    &__item {
        margin-bottom: 12px;
    }
    &__title {
        color: $red;
        font-size: 11px;
        margin-bottom: 5px;
    }
    &__caption {
        display: inline-block;
        vertical-align: middle;
        margin-left: .5em;
    }
    &__icon {
        &_flag {
            @include svg-icon-flag;
        }
        &_watch {
            @include svg-icon-watch;
        }
        &_share {
            @include svg-icon-share;
        }
    }
    &__body {
        color: #999;
        font-size: 13px;
    }
}