$red: #f8615a;
.red {color: $red;}

$white: #fff;
.white {color: $white;}

$grey: #e5e5e5;
.grey {color: $grey;}

$lightgrey: #f7f7f7;
.lightgrey {color: $lightgrey;}

$darkgrey: #666;
.darkgrey {color: $darkgrey;}

.bggrey {background-color: $grey;}